<!DOCTYPE html>
<html>
  <head>
    <title>StyleShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'p5' %>
  </head>

  <body>
      <section id="navbar">
      <div class="navbar-top">
        <div class="navbar-brand">
           <h1><%= link_to "StyleShare", sketches_path %></h1>
        </div>
        <div class="navbar-links">
          <ul>
            <li><%= link_to "Sample Sketch", root_path %></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="main-container">
        <%= yield %>
    </section>

  </body>
</html>
