<!-- Go to https://p5js.org/get-started/ to get started using p5.js -->

<%= c("page") do %>
    <%= c("prompt-image-form") %>

    <h2>Your Prompt:</h2>

    <%= c("prompt-image") %>

    <%= c("user-sketch-form") %>

    <%= c("user-sketches") %>

<% end %>
